.main{
  width: 100%;
  height: 83vh;
  background-image: url('../images/broadcast.jpg');
  background-size: 50% 80%;
  background-repeat: no-repeat;
  div{
    position: relative;
    left: 50%;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    p{
      font-size: 3em;
      margin-top: 100px;
      color: #CCCCCC;
      span{
        font-size: 4em;
      }
    }
  }
}
