@import "general";
@import "colors";
@import "nav";
@import "main";
@import "login";
@import "message_board";

header {
    width: 100%;
    height: 12vh;
    background-color: $mainColor;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: $footerColor;
    p{
        margin: 0 auto;
    }
}

footer.page-footer .footer-copyright {
    background: none;
}

.ui.teal.header {
    background-color: transparent !important;
}

.ui.form input:not([type]),
.ui.form input[type=date],
.ui.form input[type=datetime-local],
.ui.form input[type=email],
.ui.form input[type=file],
.ui.form input[type=number],
.ui.form input[type=password],
.ui.form input[type=search],
.ui.form input[type=tel],
.ui.form input[type=text],
.ui.form input[type=time],
.ui.form input[type=url]
{
    margin: 5px 0;
}
